<template id="CyExButton-style">
    <style>
        button {
            min-width: 150px;
            height: 30px;
            font-family: 'Future', sans-serif;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            box-sizing: border-box;
            padding: 0px 6px;
            text-align: left;
            border-radius: 7px;
            border-bottom-left-radius: 0px;
            font-size: 24px;

            color: rgb(255, 255, 255);
            cursor: pointer;
            background: rgba(66, 66, 66, 0);
            border: 2px solid transparent;
        }

        button:hover {
            border: 2px solid rgb(124, 124, 124);
            background: rgb(0, 0, 0) !important;
            color: white !important;
        }
    </style>
    <div id="container" style="width: auto; height: 30p0x; display: inline-block; padding: 4px 2px">
        <button id="name"></button>
    </div>

</template>

<template id="cyEx-Checkbox-style">
    <style>
        input[type=checkbox] {
            margin-top: 25px;
            min-width: 30px;
            height: 30px;
            font-family: 'Future', sans-serif;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            box-sizing: border-box;
            padding: 0px 6px;
            text-align: left;
            border-radius: 7px;
            border-bottom-left-radius: 0px;
            font-size: 24px;

            color: rgb(255, 255, 255);
            cursor: pointer;
            background: rgba(66, 66, 66, 0);
            border: 2px solid transparent;
        }

        input[type=checkbox]:hover {
            border: 2px solid rgb(124, 124, 124);
            background: rgb(0, 0, 0) !important;
            color: white !important;
        }

        label.cyEx-checkbox-label {
            color: white;
            height: 30px;
            padding: 10px 15px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 15px;
            cursor: pointer;
        }

        .cyEx-checkbox-container {
            display: flex;
            border: 1px solid #666;
            width: 215px;
            margin-top: 20px;
            border-radius: 7px;
            border-bottom-left-radius: 0px;
            padding-left: 10px;
            margin-bottom: 20px;
        }

        button {
            min-width: 225px;
            height: 30px;
            font-family: 'Future', sans-serif;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            box-sizing: border-box;
            padding: 0px 6px;
            text-align: left;
            border-radius: 7px;
            border-bottom-left-radius: 0px;
            font-size: 24px;
            border: 2px solid rgb(124, 124, 124);
            color: rgb(255, 255, 255);
            cursor: pointer;
            background: rgba(66, 66, 66, 0);
            margin-top: -20px;
        }

        button:hover {
            border: 2px solid rgb(124, 124, 124);
            background: rgb(0, 0, 0) !important;
            color: white !important;
        }
    </style>
    <div id="container" class="cyEx-checkbox-container" style="display:flex">
        <input type="checkbox" id="checkbox">
        <label for="name" id="label" class="cyEx-checkbox-label"></label>
        </label>
    </div>
    <button id="button"></button>

</template>

<template id="cyEx-LayoutSelector-template">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">
    <div class="gradientBox">
        <div class='swagBox' style="background-color: rgba(0, 10, 20, 0.3);" id="cyEx_layout_selection_box">
            <div style="display:flex; width:100%">
                <div id="container" style="display:inline; width:90%; align-items:center ">
                    <h5 id="label"
                        style="float:left; font-size: 25px;  color: rgb(102, 102, 102); margin-top:5px; margin-bottom:5px;">
                        PROJECT
                    </h5>
                    <br>
                    <div class="gradient" style="margin-bottom:10px"></div>
                </div>
                <input type="button" value="X" id="removeButton"
                    style="width: auto;height:auto;font-size: 15px;text-align: center;"></button>
            </div>
            <div style="display:flex; width:100%">
                <div id="container" style="display:inline; width:50%; align-items:center ">
                    <p style="font-size:14px;margin-bottom: 0">LAYOUT NAME</p>
                    <input type="text" id="lay_name" style="width:80%" value=>
                    <p style="font-size:14px;margin-bottom: 0">LAYOUT ALGORITHM</p>
                    <input type="button" id="sel"
                        style="width:80%; height:50px; font-family: future; font-size: 25px;" />
                    <div id="content" class="swagBoxT"
                        style="width:80%; max-height: 600px; height:auto; overflow-y: auto; overflow-x: hidden;display:none">
                    </div>

                </div>
                <div class="container" style="display:inline; width:50%; align-items:center" id="algo_paras">
                    <h3 style="font-size:14px;margin-bottom: 0">LAYOUT Parameter</p>
                        <div class="swagBox" style="background-color: rgba(0, 10, 20, 0.3);display:none"
                            id="algo_cg_tsne">
                            <h6>
                                PERPLEXITY
                            </h6>
                            <input id="cy_ex_spring_prplxty" min="1" type="number" value="50" />
                            <h6>
                                DENSITY
                            </h6>
                            <input id="cy_ex_spring_density" min="1" type="number" value="12" />
                            <h6>
                                LEARNING RATE
                            </h6>
                            <input id="cy_ex_spring_l_rate" min="1" type="number" value="200" />
                            <h6>
                                STEPS
                            </h6>
                            <input id="cy_ex_spring_steps" min="1" type="number" value="250" />
                        </div>
                        <div class="swagBox" style="background-color: rgba(0, 10, 20, 0.3);display:none"
                            id="algo_cg_umap">
                            <h6>
                                NUMBER OF NEIGHBORS
                            </h6>
                            <input id="cy_ex_spring_n_neighbors" min="1" type="number" value="10" />
                            <h6>
                                SPREAD
                            </h6>
                            <input id="cy_ex_spring_spread" step="0.1" type="number" value="1" />
                            <h6>
                                MINIMAL DISTANCE
                            </h6>
                            <input id="cy_ex_spring_min_dist" max="1" min="0" step="0.1" type="number" value="0.5" />
                        </div>
                        <div class="swagBox" style="background-color: rgba(0, 10, 20, 0.3);display:none"
                            id="algo_spring">
                            <h6>
                                OPTIMAL DISTANCE BETWEEN NODES
                            </h6>
                            <input id="cy_ex_spring_opt_dist" min="0" max="1" type="number" step="0.0001" value="0" />
                            <p>If 0, the default value 1/sqrt(n) is used.</p>
                            <h6>
                                ITERATIONS
                            </h6>
                            <input id="cy_ex_spring_iterations" type="number" value="50" min="1" />
                            <h6>
                                THRESHOLD
                            </h6>
                            <input id="cy_ex_spring_threshold" min="0" step="0.0001" type="number" value="0.0001" />
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    class cyExLayAlgoB extends HTMLElement {
        constructor() {
            super();
        }
        connectedCallback() {
            let template = document.querySelector('#mcB-template').content;
            this.attachShadow({ mode: 'open' }).appendChild(template.cloneNode(true));
            let name_button = this.shadowRoot.querySelector("#name");
            name_button.textContent = this.getAttribute('name');
            name_button.style.width = this.getAttribute('w') + "px";
            name_button.style.background = this.getAttribute('color');
            var fun = this.getAttribute('fn');


            name_button.addEventListener('click', () => {
                this.parentElement.style.display = "none"
                this.parent.select.value = name_button.textContent
                this.parent.updateParameter()
                console.log(this.parent.select.value)
            });

        }

    }
    customElements.define('cy-ex-lay-algo-b', cyExLayAlgoB);
</script>

<script>
    class cyExSendElement extends HTMLElement {
        constructor() {
            super();
        }
        connectedCallback() {
            let template = document.querySelector('#cyEx-Checkbox-style').content;
            this.attachShadow({ mode: 'open' }).appendChild(template.cloneNode(true));
            let container = this.shadowRoot.querySelector("#container");
            let checkbox = this.shadowRoot.querySelector("#checkbox");
            if (this.getAttribute('checked') == "true") {
                checkbox.checked = true;
            }
            checkbox.style.width = this.getAttribute('w') + "px";
            checkbox.style.height = this.getAttribute('h') + "px";

            let label = this.shadowRoot.querySelector("#label");
            label.innerHTML = this.getAttribute('name');
            label.style.background = this.getAttribute('color');
            label.style.color = this.getAttribute('fcolor');

            let button = this.shadowRoot.querySelector("#button");
            button.textContent = this.getAttribute('buttonText');
            button.style.background = this.getAttribute('color');
            button.style.color = this.getAttribute('fcolor');
            button.addEventListener('click', function() {
                console.log("cytoscape send button clicked");
                let message = {
                    "toHost": checkbox.checked
                };
                cyExSocket.emit("sendNetwork", message);
                // TODO: Disable button and show loading gif
            });
        }

    }
    customElements.define('cy-ex-send-element', cyExSendElement);
</script>

<script>
    class cyExLayoutSelector extends HTMLElement {


        constructor() {
            super();
        }

        connectedCallback() {
            let template = document.querySelector('#cyEx-LayoutSelector-template').content;
            this.attachShadow({ mode: 'open' }).appendChild(template.cloneNode(true));
            this.select = this.shadowRoot.querySelector("#sel");
            this.content = this.shadowRoot.querySelector("#content");
            this.removeButton = this.shadowRoot.querySelector("#removeButton")
            this.layoutName = this.shadowRoot.querySelector("#lay_name")
            this.label = this.shadowRoot.querySelector("#label");
            this.name = this.getAttribute('name')
            this.id = this.getAttribute("id")
            this.default_value = this.name.replace(". ", "_")
            this.layoutName.setAttribute("value", this.default_value)
            this.algo_paras = this.shadowRoot.querySelector("#algo_paras")
            this.algo_spring = this.shadowRoot.querySelector("#algo_spring")
            this.algo_cg_tsne = this.shadowRoot.querySelector("#algo_cg_tsne")
            this.algo_cg_umap = this.shadowRoot.querySelector("#algo_cg_umap")

            this.removeButton.addEventListener("click", () => {
                if (layout_selections > 1) {
                    layout_selections -= 1
                    this.remove()
                    updateAllLayoutSelectors()
                }
            });

            this.updateName()
            if (this.getAttribute("id") == "cyEx_lay_sel_1") {
                this.removeButton.remove()
            }

            this.select.addEventListener('click', () => {
                if (this.content.style.display === "none") {
                    this.content.style.display = "block";
                } else {
                    this.content.style.display = "none";
                }
            });

            this.updateDD(layAlgos)

        }
        updateName() {
            this.name = this.getAttribute('name')
            this.label.innerHTML = this.name;
            let old_default = this.default_value
            this.default_value = this.name.replace(". ", "_")
            if (this.layoutName.value == old_default) {
                this.layoutName.value = this.default_value
            }

        }
        updateDD(options) {
            this.content.innerHTML = "";
            for (let i = 0; i < options.length; i++) {
                var newButton = document.createElement("cy-ex-lay-algo-b")
                newButton.setAttribute("id", "button" + i)
                newButton.setAttribute("val", i)
                newButton.setAttribute("name", options[i])
                newButton.setAttribute("w", 375)
                newButton.setAttribute("fn", "dropdown")
                newButton.setAttribute("color", getRandomHexColor())
                newButton.parent = this;
                this.content.appendChild(newButton)
            }
            this.select.value = options[0];
            this.updateParameter()
        }
        updateParameter() {
            console.log(this.select.value)
            console.log(this.algo_paras)
            this.algo_paras.style.display = "inline";
            this.algo_spring.style.display = "none";
            this.algo_cg_tsne.style.display = "none";
            this.algo_cg_umap.style.display = "none";
            if (this.select.value == "spring") {
                this.algo_spring.style.display = "block";
            } else if (["cg_local_tsne", "cg_global_tsne", "cg_importance_tsne"].includes(this.select.value)) {
                this.algo_cg_tsne.style.display = "block";
            } else if (["cg_local_umap", "cg_global_umap", "cg_importance_umap"].includes(this.select.value)) {
                this.algo_cg_umap.style.display = "block";
            } else {
                this.algo_paras.style.display = "none";
            }
        }
        getLayoutData() {
            return {
                "name": this.layoutName.value, "algo": this.select.value,
                "opt_dis": this.shadowRoot.querySelector("#cy_ex_spring_opt_dist").value,
                "iterations": this.shadowRoot.querySelector("#cy_ex_spring_iterations").value
                , "prplxty": this.shadowRoot.querySelector("#cy_ex_spring_prplxty").value
                , "density": this.shadowRoot.querySelector("#cy_ex_spring_density").value
                , "l_rate": this.shadowRoot.querySelector("#cy_ex_spring_l_rate").value
                , "steps": this.shadowRoot.querySelector("#cy_ex_spring_steps").value
                , "n_neighbors": this.shadowRoot.querySelector("#cy_ex_spring_n_neighbors").value
                , "spread": this.shadowRoot.querySelector("#cy_ex_spring_spread").value
                , "min_dist": this.shadowRoot.querySelector("#cy_ex_spring_min_dist").value
            }
        }
    }

    customElements.define('cy-ex-layout-selector', cyExLayoutSelector);
</script>